# Node
node_modules/
npm-debug.log*
*.rar

# Front (Next.js)
front/.next/
front/.vercel/
front/.env*

# Back (Express/Sequelize)
back/.env*
back/data.sqlite

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build outputs
dist/
build/
